.navbar ul li a:hover {
  color: #b1040e !important;
}
.navbar-brand {
  color: #9a9ab4;
}
.sidebar-wrapper ul li {
  width: 100%;
}
.sidebar-wrapper ul li a {
  padding: 10px;
}
.icon-bar {
  padding-top: 3px;
  margin-top: 5px !important;
  width: 100% !important;
}
.breadcrumb {
  background: transparent;
}
.assignments {
  display: flex;
  justify-content: space-between;
}
.assignments .card {
  width: 100%;
  height: 200px;
  padding: 10px;
  overflow: scroll;
}
.assignments .card h5 {
  border-bottom: 1px solid #b1040e;
}

.sub-fee {
  padding: 10px;
}
.sub-fee p {
  font-size: 14px;
}
.sub-fee p span {
  color: #b1040e;
}
.sub-fee button {
  outline: none;
  border: none;
  background: #b1040e;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 8px 50px 10px 50px;
}

/* scrollbar style */
::-webkit-scrollbar {
  width: 0.7em;
}

::-webkit-scrollbar-track {
  display: none;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
@media only screen and (max-width: 728px) {
  .assignments .card {
    width: 320px !important;
  }
  .assignments {
    display: block;
  }
  .breadcrumb {
    display: none;
  }
}

/* cources card */
.crs-cd {
  display: flex !important;
  justify-content: space-between;
  flex: 1;
  flex-wrap: wrap;
}
.crs-cd .card-container1 {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.219);
  color: #464646;
  padding-top: 30px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 300px;
  max-width: 100%;
  text-align: center;
}
.crs-cd .card-container1 img {
  max-width: 300px;
  height: 150px;
}

/* my mentor card */
.card-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.75);
  color: #464646;
  padding-top: 30px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 350px;
  max-width: 100%;
  text-align: center;
}

.card-container .round {
  border: 1px solid #b1040e;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #b1040e;
  border: 1px solid #b1040e;
  border-radius: 3px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #b1040e;
}

.mmcard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

/* downloads section */
.downloads {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-around;
}
.downloads .card {
  padding: 10px;
  padding-top: 25px;
  text-align: center;
}
.dc-red {
  background: #b1040e;
}
.dc-red a {
  color: white;
}
.dc-white {
  border: 1px solid #b1040e;
}
.dc-white a {
  color: #b1040e;
}

.topdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.topdd .topcode {
  margin-bottom: 15px;
}
.topdd .topcode input {
  border: 1px solid #b1040e;
}

/* notification section */
.notifysection {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f9f6;
}

.notifysection .impnotic .card {
  height: 300px;
  overflow: hidden;
}
.notifysection .impnotic .card ul {
  margin-top: 15px;
  line-height: 20px;
  list-style: none;
}
.notifysection .impnotic .card ul li {
  margin-top: 2px;
  margin-bottom: 2px;
}
.notifysection .impnotic .card ul li a {
  font-size: 15px;
  color: black;
}
.notifysection .impnotic .card ul li i {
  font-size: 12px;
  margin-top: -10px;
  color: #b1040e;
}
.notifysection .impnotic .card ul li a:hover {
  color: #b1040e;
}

/* mycourse media query */
@media (min-width: 768px) {
  /* show 4 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    -webkit-transition: none;
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be absolue position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}
