:root {
  --dark: #292929;
  --red: #e3535b;
  --redbtn: #da2d36;
}

.navbar ul li a:hover {
  color: #b1040e !important;
}
.navbar-brand {
  color: #9a9ab4;
}
.sidebar-wrapper ul li {
  width: 100%;
}
.sidebar-wrapper ul li a {
  padding: 10px;
}
.icon-bar {
  padding-top: 3px;
  margin-top: 5px !important;
  width: 100% !important;
}
.breadcrumb {
  background: transparent;
}
.topdd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cd-data .card-title {
  font-size: 1.5rem;
  margin-bottom: -9px;
}
.cd-data button {
  background: var(--redbtn);
  color: white;
  border: none;
}
.cd-data button:last-child {
  background: var(--dark);
  color: white;
  border: none;
}
/* my mentor card */
.card-container {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.75);
  color: #464646;
  padding-top: 30px;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
  width: 350px;
  margin-left: 5px;
  max-width: 100%;
  text-align: center;
}

.card-container .round {
  border: 1px solid #b1040e;
  border-radius: 50%;
  padding: 7px;
}

button.primary {
  background-color: #b1040e;
  border: 1px solid #b1040e;
  border-radius: 3px;
  color: #ffffff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  padding: 10px 25px;
}

button.primary.ghost {
  background-color: transparent;
  color: #b1040e;
}

.mmcard {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
}

@media only screen and (max-width: 728px) {
  .breadcrumb {
    display: none;
  }
}
